* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.drop {
    top: -15px;
    width: 3px;
    height: 15px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    transition: transform 0.5s linear allow-discrete;
}